<div class="container">
    <alert></alert>
    <form [formGroup] = "izmenaForma" (ngSubmit) = "registrujIzmenjeni(izmenaForma.value)">
      <fieldset>
        <legend class="leg" align="center">Registrujte se na nas sajt</legend>
       <div class="form-group row">
          <div class="col-md-4 mx-auto">
            <input type="text" class="form-control" name="mail" id="mail" placeholder="Email Adresa" formControlName="email">
            <span class = "error-message" *ngIf="izmenaForma.get('email').hasError('required') && izmenaForma.get('email').dirty">Obavezno unesite email</span>
            <span class = "error-message" *ngIf="izmenaForma.get('email').hasError('pattern') && izmenaForma.get('email').dirty">Unesite e-mail u validnoj formi</span>
            <span class = "error-message" *ngIf="izmenaForma.get('email').hasError('maxlength') && izmenaForma.get('email').dirty">Presli ste broj karaktera koji smete uneti</span>
          </div>
          </div>
        <div class="form-group row">
          <div class="col-md-4 mx-auto">
            <input type="password" class="form-control" name="sifra" id="sifra" placeholder="Lozinka" formControlName="lozinka">
            <span class = "error-message" *ngIf="izmenaForma.get('lozinka').hasError('required') && izmenaForma.get('lozinka').dirty">Obavezno unesite lozinku</span>
            <span class = "error-message" *ngIf="izmenaForma.get('lozinka').hasError('minlength') && izmenaForma.get('lozinka').dirty">Vasa lozinka mora sadrzati bar 8 karaktera</span>
            <span class = "error-message" *ngIf="izmenaForma.get('lozinka').hasError('maxlength') && izmenaForma.get('lozinka').dirty">Presli ste broj karaktera koji smete uneti</span>
             </div>
        </div>
       <div class="form-group row">
          <div class="col-md-4 mx-auto">
            <input type="password" class="form-control" name="sifra2" id="sifra2" placeholder="Potvrda Lozinke" formControlName="sifraPotvrda">
            <span class = "error-message" *ngIf="izmenaForma.get('sifraPotvrda').hasError('required') && izmenaForma.get('sifraPotvrda').dirty">Morate potvrditi vasu lozinku</span>
            <span class = "error-message" *ngIf="izmenaForma.get('sifraPotvrda').hasError('minlength') && izmenaForma.get('sifraPotvrda').dirty">Vasa lozinka mora sadrzati bar 8 karaktera</span>
            <span class = "error-message" *ngIf="izmenaForma.get('sifraPotvrda').hasError('maxlength') && izmenaForma.get('sifraPotvrda').dirty">Presli ste broj karaktera koji smete uneti</span>
            <span class = "error-message" *ngIf="izmenaForma.hasError('missmatch') && izmenaForma.get('sifraPotvrda').dirty">Lozinke se ne poklapaju</span>
            <span class = "success-message" *ngIf="!izmenaForma.hasError('missmatch') && izmenaForma.get('sifraPotvrda').dirty">Lozinke se poklapaju</span>
             </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 mx-auto">
            <input type="text" class="form-control" name="ime" id="ime" placeholder="Ime" formControlName="ime">
            <span class = "error-message" *ngIf="izmenaForma.get('ime').hasError('required') && izmenaForma.get('ime').dirty">Obavezno unesite ime</span>
            <span class = "error-message" *ngIf="izmenaForma.get('ime').hasError('maxlength') && izmenaForma.get('ime').dirty">Presli ste broj karaktera koji smete uneti</span>
          </div>
          </div>
          <div class="form-group row">
          <div class="col-md-4 mx-auto">
            <input type="text" class="form-control" name="prezime" id="prezime" placeholder="Prezime" formControlName="prezime">
            <span class = "error-message" *ngIf="izmenaForma.get('prezime').hasError('required') && izmenaForma.get('prezime').dirty">Obavezno unesite prezime</span>
            <span class = "error-message" *ngIf="izmenaForma.get('prezime').hasError('maxlength') && izmenaForma.get('prezime').dirty">Presli ste broj karaktera koji smete uneti</span>
          </div>
          </div>
        <div class="form-group row">
          <div class="col-md-4 mx-auto">
            <input type="text" class="form-control" name="grad" id="grad" placeholder="Grad" formControlName="grad">
            <span class = "error-message" *ngIf="izmenaForma.get('grad').hasError('required') && izmenaForma.get('grad').dirty">Obavezno unesite grad</span>
            <span class = "error-message" *ngIf="izmenaForma.get('grad').hasError('maxlength') && izmenaForma.get('grad').dirty">Presli ste broj karaktera koji smete uneti</span>
          </div>
          </div>
          <div class="form-group row">
          <div class="col-md-4 mx-auto">
            <input type="text" class="form-control" name="telefon" id="telefon" placeholder="Kontakt Telefon" formControlName="telefon">
            <span class = "error-message" *ngIf="izmenaForma.get('telefon').hasError('pattern') && izmenaForma.get('telefon').dirty">Unesite telefon u validnoj formi</span>
          </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4 mx-auto">
              <button type="submit" class="logregBtn btn btn-primary btn-md btn-block" name="regPrijava" [disabled] = "!izmenaForma.valid">Registracija</button>
            </div>
          </div>
    </fieldset>
    </form>
  </div>