@charset "ISO-8859-1";

.welcome {
	width : 1000px;
	margin-top: 80px;
}

#divNaziv {
	background-color: #9bb7c4;
	color : black;
	border:1px solid black;
	padding : 5px;
	font-size : 25px;
}

#divOpis {
	background-color: #e8f3f8;
	color:black;
	padding : 5px;
}
#divOpis2 {
	background-color: #e8f3f8;
	color:black;
	padding : 5px;
	
}
#pojedinacni {
	margin : 10px;
	border : 2px solid black;
	padding : 5px;
	margin-bottom : 40px;
}

.izbrisi {
	margin-left : 2px;
}

.rekvizitButtoni {
	margin-left : 2px;
	background-color : steelblue;
	color : white;
}