h2 {
	text-align: center;
	font-size: 50px;
	color: #A16073;
}
body {
	background-color: #e1f7d5;
}

input {
	padding: 10px;
	font-size: inherit;
	display: block;
	border: 2px solid #A16073;
	background-color: #FAF6D9;
}

input[type="submit"] {
	width: 100px;
	height: 20px;
	border: none;
	background-color: #A16073;
	color: white;
	}

input:focus {
	background: white;
	color: black;
}
.thematicPropsForm {
	background-color: #e1f7d5;
	margin: 20px 30px -5px 30px;
}

#strana {
	background-color: #e1f7d5;
}
#naziv {
	margin-left: 15px;
	
}