<div class="container">

  <div class="pozadina3"> 
    <label for="ambijent" class="col-lg-3 blueText">Prosecna ocenu ambijenta za : </label>
    <select id="ambijent" class="col-lg-2 gap-top-sm" [(ngModel)]="ambijentTip" (change)="promeniAmbijent()">
        <option value="0" >Pozorista</option>
        <option value="1" >Bioskope</option>
    </select>
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-primary" (click)="prikaziAmbijent()">Prikazi</button>
    &nbsp;&nbsp;
    <input type="text" [(ngModel)]="ocenaA" disabled>
    <br>
    <label for="ambijent2" class="col-lg-3"></label>
    <select id="ambijent2" class="col-lg-2 gap-top-sm" [(ngModel)]="ambijentZa">
      <option *ngFor="let tempPozBio of pozBios" [value]="tempPozBio.id" >{{tempPozBio.naziv}}</option>
    </select>
  </div>

  
  <div class="pozadina3 gap-top"> 
    <label for="projekcije" class="col-lg-3 blueText">Prikazite prosecnu ocenu za : </label>
    <select id="projekcije" class="col-lg-2 gap-top-sm" [(ngModel)]="projekcijeTip" (change)="promeniProjekciju()">
        <option value="0" >Projekcije</option>
        <option value="1" >Predstave</option>
    </select>
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-primary" (click)="prikaziProjekcije()">Prikazi</button>
    &nbsp;&nbsp;
    <input type="text" [(ngModel)]="ocenaP" disabled>
    <br>
    <label for="ambijent2" class="col-lg-3"></label>
    <select id="ambijent2" class="col-lg-2 gap-top-sm" [(ngModel)]="projekcijeZa" >
      <option *ngFor="let tempPredFilm of predFilms" [value]="tempPredFilm.id" >{{tempPredFilm.naziv}}</option>
    </select>
  </div>
  
  <div class="pozadina3 gap-top"> 
    <label for="izvestajTip" class="col-lg-3 blueText">Izvestaj o poslovanju : </label>
    <select id="izvestajTip" class="col-lg-2 gap-top-sm" [(ngModel)]="izvestajTip" >
        <option value="0" >Dnevni</option>
        <option value="1" >Nedeljni</option>
        <option value="2" >Mesecni</option>
    </select>
    &nbsp;&nbsp;
    <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Izaberite datum..." [(ngModel)]="izvestajDatum1" readonly>
    <owl-date-time #dt1></owl-date-time>
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-primary" (click)="prikaziIzvestaj()">Prikazi</button>
    <br>
    <label class="col-lg-3 blueText">Za entitet: </label>
    <select id="poslovanjeTip" class="col-lg-2 gap-top-sm" [(ngModel)]="poslovanjeTip" (change)="promeniIzvestaj()">
        <option value="0" >Pozoriste</option>
        <option value="1" >Bioskop</option>
    </select>
    &nbsp;&nbsp;
    <select id="poslovanjePozBio" class="col-lg-2 gap-top-sm" [(ngModel)]="poslovanjeZa" >
      <option *ngFor="let tempPozBio of poslovanjePB" [value]="tempPozBio.id" >{{tempPozBio.naziv}}</option>
    </select>
  </div>
  
  <div class="pozadina3 gap-top"> 
    <label for="projekcije" class="col-lg-3 blueText">Ukupan prihod za : </label>
    <select id="projekcije" class="col-lg-2 gap-top-sm" [(ngModel)]="prihodiTip" (change)="promeniPrihod()">
        <option value="0" >Pozorista</option>
        <option value="1" >Bioskop</option>
    </select>
    &nbsp;&nbsp;
    <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Datum od..." [(ngModel)]="izvestajDatum2" readonly>
    <owl-date-time #dt2></owl-date-time>
    &nbsp;&nbsp;
    <input [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" placeholder="Datum do..." [(ngModel)]="izvestajDatum3" readonly>
    <owl-date-time #dt3></owl-date-time>
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-primary" (click)="prikaziPrihode()">Prikazi</button>
    <input class="col-lg-1.25" type="text" [(ngModel)]="prihod" disabled>
    <label class="col-lg-3"></label>
    <select id="projekcije" class="col-lg-2 gap-top-sm" [(ngModel)]="prihodiZa" >
        <option *ngFor="let tempPozBio of pozBiosPr" [value]="tempPozBio.id" >{{tempPozBio.naziv}}</option>
    </select>
  </div>
  <div class="gap-top pozadina3">
      <canvas #izvestaji id="izvestaji">{{ chart }}</canvas>
  </div>

</div>

