<div class="gap-top-sm">

  <div>
    <div class="card card-block bg-faded pozadina2 container">
      <form [formGroup] = "tipForma" (ngSubmit) = "potvrdi(tipForma.value)">
        <fieldset>
          <legend class="forma-naslov" align="center">{{naslov}}</legend>
            <div class="form-group row mx-auto">
              <label for="naziv" class="forma-text col-lg-4">Naziv tipa : </label>
              <input type="text" name="naziv" id="naziv" class="form-control col-lg-8" formControlName="naziv">
              <span *ngIf="tipForma.get('naziv').hasError('naziv') && tipForma.get('naziv').dirty">Polje je obavezno za unos.</span>
            </div>
            <div class="form-group row mx-auto">
                <label for="cena" class="forma-text col-lg-4">Cena karte : </label>
                <input type="number" name="cena" id="cena" class="form-control col-lg-8" formControlName="cena">
                <span *ngIf="tipForma.get('cena').hasError('cena') && tipForma.get('cena').dirty">Polje je obavezno za unos.</span>       
            </div>
            
            <div class="form-group row mx-auto right-items">
              <button type="submit" class="btn btn-primary btn-md " [disabled] = "!tipForma.valid">Potvrdi</button>
            </div>
        </fieldset>
      </form>  
    </div>
  </div>
            
</div>
