<div class="mx-auto card card-block bg-faded pozadina2 col-lg-10 gap-top" >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Film/Predstava</th>
          <th scope="col">Bioskop/Pozoriste</th>
          <th scope="col">Sala</th>
          <th scope="col">Cena</th>
          <th scope="col">Sifra mesta</th>
          <th scope="col">Datum</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="rezervacije==null || rezervacije?.length === 0">Trenutno nema rezervacija</tr>
            <tr *ngFor="let r of rezervacije">
            <td>{{r.projekcijaPredFilmNaziv}}</td>
            <td>{{r.projekcijaSalaPozBioNaziv}}</td>
            <td>{{r.projekcijaSalaNaziv}}</td>
            <td>{{r.kartaSedisteSegmentTipCena | currency : 'RSD'}} {{r.kartaSedisteSegmentTipNaziv}}</td>
            <td>{{r.kartaSedisteId}}</td>
            <td>{{r.projekcijaDatum}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click) = "otkaziRezervaciju(r.id)">Otkazi</button>
            </td>
            </tr>    
       </tbody>
    </table>
    <div>
      <button class="btn btn-info right-items" (click)="nextRezervacije(this.rezervacijeStranica)">&#x21E8;</button>
      <button class="btn btn-info right-items">{{rezervacijeStranica}}</button>
      <button class="btn btn-info right-items" (click)="prevRezervacije(this.rezervacijeStranica)">&#x21E6;</button>
    </div>
</div>
  